{
  "apps/**/*.{ts,tsx}": [
    "prettier --write",
    "eslint --fix",
    "git add"
  ],
  "packages/ui/**/*.{ts,tsx}": [
    "prettier --write",
    "eslint --fix",
    "git add"
  ],
  "*.json": [
    "prettier --write",
    "git add"
  ]
}
